@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #94B0DA;
    font-family: "Roboto", sans-serif;
    color: #343F3E;
}

#main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    text-align: center;
}

#lists {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding-top: 1em;
}

#inputs {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#new-task {
    border: 2px solid transparent;
    border-radius: 0.5em;
    width: 90%;
    height: 2.1em;
    font-size: 0.8em;
}

#btn-add {
    width: 10%;
    height: 2.1em;
    font-size: 1em;
    font-weight: bold;
    color: #343F3E;
    background-color: transparent;
    border: 2px solid #DCEDFF;
    border-radius: 0.5em;
    cursor: pointer;
}

.card {
    width: 12.5em;
    border: 2px solid #DCEDFF;
    border-radius: 1em;
    padding: 1em;
}

.card h2 {
    text-align: center;
}

.card hr {
    width: 80%;
    border-color: #343F3E;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0;
    list-style-type: none;
}

.first-li {
    color: #343F3E;
    list-style-type: none;
    padding: 1em;
    cursor: cursor;
    text-align: center;
}

.items {
    background-color: #DCEDFF;
    color: #343F3E;
    border: 1px solid transparent;
    border-radius: 1em;
    list-style-type: none;
    padding: 1em;
    cursor: pointer;
}

.invisible {
    display: none;
}

@media (max-width: 750px) {
    #content {
        height: 100%;
        width: 100%;
    }

    #new-task {
        width: 75%;
    }

    #btn-add {
        width: 25%;
    }

    #lists {
        flex-direction: column;
    }

    .card {
        width: 90%;
    }
}